__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.venv/
venv/
.idea/
.vscode/
.DS_Store
.git/
.github/
tests/__pycache__/__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
dist/
build/
*.db
.DS_Store
.pytest_cache/
